<!-- 
    J
-->
{% load staticfiles %}
<body>
<div class="block_container"> 
    <div class="inner_container">
        <div class="coredescript" style="text-align:center;">
            <img src="{% static 'img/Qwhite.png' %}" width="100px"height="120px"></br>
            <span class="lagrangian">Lagrangian </span>
            <span class="granite">Granite </span>
            <span class="api">API</span>
        </div>
        <div class="blender"><div id= "displaytime"></div></div>
        <div class="descript">
            This is an API Sandbox Environment. You should not be seeing this page.
        </div>
    </div>
</div>
</body>

<link href="{% static 'css/j.css' %}" rel="stylesheet">
<script src="{% static 'js/time.js' %}"></script>
