/* Designed by J in California */

/*       Welcome to j.css      */ 
/*************************************
                 Font
**************************************/

body {
    background-color: #101010;
    background: -webkit-linear-gradient(left top, #0A1A0A, #102010); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0A1A0A, #102010); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0A1A0A, #102010); /*  Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#000000,  #102010); /* Standard */
     margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Blender'; 
    src: url("blender.ttf");
}
/*************************************
     Horizontal Alignment Stuff
**************************************/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*************************************
                 
**************************************/
.orfont a:link {
color: #FFA500;
text-decoration:None;
}
.orfont a:visited {
color: #999999;
}
.orfont a:hover {
color: #FF3300;
text-decoration:underline;
}
.compfont{
    position: relative;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size:50;
    color: 	#FFA500;
	text-align: left;
	margin-top:0px;
    padding-left:50px;
}

.orfont{
    position: relative;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 10;
    letter-spacing: 1px;
    font-size:20;
    color: 	#FFA500;
	text-align: ;
	margin-top:0px;
}
.markfont{
    position: relative;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: 	#FF4500;

	margin-top:0px;
}
.quotefont{
    position: relative;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: 	#FF4500;

	margin-top:0px;
}
.block_container
{
    height:100%;
    text-align:center;
    vertical-align: middle;
    
}
.inner_container
{
 position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    
}

.blender{
    position:relative;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size:100;
    color: #ffffff;
	margin-left:80px;
    margin-top:0px;
    display:inline;
}
.timer{
    position:relative;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size:50;
    color: #ffffff;
	margin-left:80px;
    margin-top:0px;
    display:inline;
}

/*************************************
               image
**************************************/

.logocontainer{
    text-align:center;
}

.logos{
    display:inline-block;
    margin:5px 20px;
    padding:5px;
}

/*************************************
               form 
**************************************/
.wow-form{
  background: #FFFFFF;
  max-width: 80%;
  margin: 0 auto 80px;
  padding: 20px;
  text-align: center;

}
.wow-form textarea{
  font-family: 'Blender', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.wow-form select{
  font-family: 'Blender', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding:15px;
  box-sizing: border-box;
  font-size: 20px;
}
.wow-form button{
 font-family: 'Blender', 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  outline: 0;
  background:  #43A047;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
}
.wow-form button:hover,.form button:active,.form button:focus {
  background: #18e687;
}

/*************************************
                 Fade
**************************************/
.fade1 {
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
}  
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/******
*****/
.centeralign{
     text-align:center;
}

.coredescript{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:40px;
    color: #ffffff;
}
.granite{
    color: #4CAF50;
}
.output{
    color: #4CAF50;
    font-size:100px;
}
.lagrangian{
    color: #ffffff;
}
.api{
    /*font-size:20px;*/
    color: 	#e53238;
}
.status{
    color:#f4ae01;
    
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:20px;
    font-weight:700;
}



.play button{
 font-family: 'Blender', 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  outline: 0;
  background:  #43A047;
  width: 6%;
  border: 0;
  padding: 10px;
  margin-top:20px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
}
.play button:hover,.form button:active,.form button:focus {
  background: #18e687;
}